@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");

body {
  font-family: 'Maven Pro', sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.social-icons {
  padding-top: 20px;
}

.social-icons a {
  color: #111A2C;
  line-height: 30px;
  font-size: 30px;
  margin: 0 5px;
  text-decoration: none;
}

.social-icons a i,
.social-icons a img {
  line-height: 30px;
  font-size: 30px;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.social-icons a:hover i,
.social-icons a:hover img {
  box-shadow: 0px 0px 150px #000000;
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}

a:hover {
  color: #ffc200 !important;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h5 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
}

h3 {
  color: #484848;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 10px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  transition: all 0.4s ease;
}

.custom-btn:hover {
  color: #ffc200;
}

.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}

.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #ffc200;
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}

@keyframes BottomTotop {
  0% { opacity: 0; }
  5% { opacity: 0; transform: translateY(5px); }
  10% { opacity: 1; transform: translateY(0px); }
  25% { opacity: 1; transform: translateY(0px); }
  30% { opacity: 0; transform: translateY(5px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.navbar {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  box-shadow: none;
}
.navbar.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}

.timeline-wrapper:last-child:before {
  height: 0;
}

.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}

.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}

.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}

.contact-form .form-control:not(textarea) {
  height: 48px;
}

.contact-form .form-control:hover,
.contact-form .form-control:focus {
  border-color: #ffc200;
}

.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contact-form .submit-btn:hover {
  background: #474559;
}

.google-map iframe {
  width: 100%;
}
